<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.docmall.mapper.AdmemberMapper">
	
	<select id="member_list" parameterType="String" resultType="com.docmall.domain.MemberVO">
		SELECT
			mbsp_id, MBSP_NAME, MBSP_EMAIL, MBSP_ADDR, MBSP_PHONE, MBSP_LASTLOGIN
		FROM
			MBSP_TBL
	</select>
	
	<delete id="member_delete" parameterType="String">
		DELETE FROM
			MBSP_TBL
		WHERE
			MBSP_ID = #{mbsp_id}
	</delete>
	
	<select id="member_edit" resultType="com.docmall.domain.MemberVO" parameterType="String">
		SELECT
			mbsp_id, mbsp_name, mbsp_email, mbsp_addr, mbsp_phone, mbsp_lastlogin
		FROM
			MBSP_TBL
		WHERE
			MBSP_ID = #{mbsp_id}
	</select>
	
	<update id="member_edit_ok" parameterType="com.docmall.domain.MemberVO">
		UPDATE
			MBSP_TBL
		SET
			mbsp_id	= #{mbsp_id},
			mbsp_name = #{mbsp_name}, 
			mbsp_email = #{mbsp_email}, 
			mbsp_addr = #{mbsp_addr}, 
			mbsp_phone = #{mbsp_phone}, 
			mbsp_lastlogin = #{mbsp_lastlogin},
		WHERE
			mbsp_id	= #{mbsp_id}
	</update>
	
	<insert id="member_insert" parameterType="com.docmall.domain.SimpleMemberVO">
		INSERT INTO
			SIMPLEMEMBER_TBL(SIMP_ID,SIMP_NAME,SIMP_EMAIL,SIMP_ADDR,SIMP_PHONE)
		VALUES(#{SIMP_ID},#{SIMP_NAME},#{SIMP_EMAIL},#{SIMP_ADDR},#{SIMP_PHONE})
	</insert>
	
	
	</mapper>